
body {
    margin: 0px;
    background-color: #dfdddc;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.toggleMenu{
    z-index: 9999;
}

.navbar .container-fluid, 
.navbar-expand-lg .navbar-collapse, 
.navbar-expand-lg .navbar-nav{
  flex-direction: column;
  align-items: flex-start;
  /* z-index: 99999; */

}


.title { 
    font-size: 180px;
    line-height: 210px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 480;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    top: 10px;
    width: 90%;
    position: absolute;
    margin-left: 40px;

}

.vertical{
    width: 290px;
    height: 340px;
    position: absolute;
    right:150px;
    top:60px;
    z-index: 3;
}

.subvertical{ 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top: 400px; 
    right: 300px;
}

.pvertical {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top: 440px; 
    right: 240px;
}

.imgdiseño{
    width: 250px;
    height: 200px;
    position: absolute;
    left:83px;
    top:200px;
}

.subdiseño{ 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top: 400px; 
    left:83px;

   
}

.pdiseño{

    font-size: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top: 440px; 
    right: 1100px;

}

.imgmapping {

    width: 290px;
    height: 150px;
    position: absolute;
    right: 550px;
    top:600px;

}
.submapping{ 

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top:750px; 
    right: 735px;
}

.pmapping{

    font-size: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top: 780px; 
    right:640px;

}

.imgweb {

    width: 290px;
    height: 150px;
    position: absolute;
    right:150px;
    top:600px;
    z-index: 3;

}
.subweb{ 

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top:750px; 
    right: 390px;
    z-index: 2;
}

.pweb{

    font-size: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top: 780px; 
    right: 300px;
    z-index: 1;
}

.imgvjs {

    width: 950px;
    height: 200px;
    position: relative;
    right:450px;
    top: 850px;
    padding-left:40% ;


}
.subvjs { 

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top: 1050px; 
    right: 1220px;
}

.pvjs {

    font-size: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top: 1100px; 
    right: 1140px;

}

.imgiluminacion {

    width: 290px;
    height: 150px;
    position: absolute;
    left:83px;
    top: 1200px;

}
.subiluminacion { 

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top: 1350px; 
    right: 1110px;
}

.piluminacion {

    font-size: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top: 1400px; 
    right: 1135px;

}

.imganimacion {

    width: 290px;
    height: 150px;
    position: absolute;
    right: 500px;
    top:1200px;

}
.subanimacion{ 

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top:1350px; 
    right: 580px; 
}

.panimacion{

    font-size: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top: 1400px; 
    right:695px;

}

.imgalgomas {

    width: 290px;
    height: 150px;
    position: absolute;
    right: 100px;
    top:1200px;

}

.subalgomas{ 

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.8px;
    position: absolute;
    top:1350px; 
    right: 220px; 
}

.palgomas{

    font-size: 10px;
    font-weight: bold;
    text-align: justify;
    letter-spacing: 1.8px;
    position: absolute;
    top: 1400px; 
    right:305px;

}

.box h2{
    font-size: 160px;
    position: absolute;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    left:300px;
    transform: rotate(180deg);
    line-height:5px;
    letter-spacing: 5px;
    color: #000000;
    font-weight: 350;
    top: 830px;
}

.box h3{
    font-size: 150px;
    position: relative;
    letter-spacing: 0px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    left:650px;
    transform: rotate(180deg);
    line-height: 10px;
    color: #000000;
    font-weight: 360;
    top: 650px;
}

.box h4{
    font-size: 150px;
    position: relative;
    letter-spacing: 0px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    left:800px;
    transform: rotate(180deg);
    line-height: 0px;
    color: #000000;
    font-weight: 360;
    top: 0px;
}



.noSeleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

@media (min-width: 992px) {

    .toggleMenu{
        z-index: 9999;
        position: fixed;
        top:12rem;
        left:3rem
    }
  .navbar {
    width: 15%;
    position: fixed;
    top: 15rem
      }
  form input {
    margin-bottom: 0.7em;
  }
}